<%# 投手能力 %>
<div class="row p-2">
  <%# 基礎能力部 %>
  <div class="col-3 pe-4 pawa-text-main">
    <div class="d-flex justify-content-start row border border-3 border-white rounded p-1 mb-1 pawa-bg-main">
      <div class="col-5 p-0">
        <div class="pawa-ability-label">球速</div>
      </div>
      <div class="col-7 ps-3 py-2">
        <span class="me-1 h5"><%= @player.pawapuro_pitcher.pace %></span>
        <span>km/h</span>
      </div>
    </div>
    <div class="d-flex justify-content-start row border border-3 border-white rounded p-1 mb-1 pawa-bg-main">
      <div class="col-5 p-0">
        <div class="pawa-ability-label">コントロール</div>
      </div>
      <div class="col-7 ps-3 py-2">
        <span class="pawa-text-d me-2 h5"><%= display_alphabet(@player.pawapuro_pitcher.control) %></span>
        <span class="h5"><%= @player.pawapuro_pitcher.control %></span>
      </div>
    </div>
    <div class="d-flex justify-content-start row border border-3 border-white rounded p-1 mb-1 pawa-bg-main">
      <div class="col-5 p-0">
        <div class="pawa-ability-label">スタミナ</div>
      </div>
      <div class="col-7 ps-3 py-2">
        <span class="pawa-text-a me-2 h5"><%= display_alphabet(@player.pawapuro_pitcher.stamina) %></span>
        <span class="h5"><%= @player.pawapuro_pitcher.stamina %></span>
      </div>
    </div>
    <div class="d-flex justify-content-start row border border-3 border-white rounded p-1 mb-1 pawa-bg-main">
      <div class="col-12 ps-3">
        <%# TODO: ストレート球種名のカラム追加 %>
        <%# ストレート %>
        <div class="pawa-breaking-font">ストレート・<%= @player.pawapuro_pitcher.second_fastball_type %></div>
        <div class="ms-3">
          <div class="row">
            <div class="col-1 pawa-breaking-block-exist border-bottom-0"></div>
          </div>
          <%# 第二ストレート %>
          <div class="row">
            <div class="col-1 pawa-breaking-block-second-exist"></div>
          </div>
        </div>
        <%# スライダー系 %>
        <div class="pawa-breaking-font"><%= @player.pawapuro_pitcher.slider_type_pitch %>・<%= @player.pawapuro_pitcher.second_slider_type_pitch %></div>
        <div class="ms-3">
          <div class="row">
            <% 7.times do |i| %>
              <div class="col-1 <%= 'pawa-breaking-block-exist' if i < @player.pawapuro_pitcher.slider_type_movement %> <%= 'pawa-breaking-block-nil' unless i < @player.pawapuro_pitcher.slider_type_movement %> border-bottom-0"></div>
            <% end %>
          </div>
          <%# 第二スライダー系 %>
          <div class="row">
            <% 7.times do |i| %>
              <div class="col-1 <%= 'pawa-breaking-block-second-exist' if i < @player.pawapuro_pitcher.second_slider_type_movement %> <%= 'pawa-breaking-block-second-nil' unless i < @player.pawapuro_pitcher.second_slider_type_movement %>"></div>
            <% end %>
          </div>
        </div>
        <%# カーブ系 %>
        <div class="pawa-breaking-font"><%= @player.pawapuro_pitcher.curveball_type_pitch %>・<%= @player.pawapuro_pitcher.second_curveball_type_pitch %></div>
        <div class="ms-3">
          <div class="row">
            <% 7.times do |i| %>
              <div class="col-1 <%= 'pawa-breaking-block-exist' if i < @player.pawapuro_pitcher.curveball_type_movement %> <%= 'pawa-breaking-block-nil' unless i < @player.pawapuro_pitcher.curveball_type_movement %> border-bottom-0"></div>
            <% end %>
          </div>
          <%# 第二カーブ系 %>
          <div class="row">
            <% 7.times do |i| %>
              <div class="col-1 <%= 'pawa-breaking-block-second-exist' if i < @player.pawapuro_pitcher.second_curveball_type_movement %> <%= 'pawa-breaking-block-second-nil' unless i < @player.pawapuro_pitcher.second_curveball_type_movement %>"></div>
            <% end %>
          </div>
        </div>
        <%# シュート系 %>
        <div class="pawa-breaking-font"><%= @player.pawapuro_pitcher.shootball_type_pitch %>・<%= @player.pawapuro_pitcher.second_shootball_type_pitch %></div>
        <div class="ms-3">
          <div class="row">
            <% 7.times do |i| %>
              <div class="col-1 <%= 'pawa-breaking-block-exist' if i < @player.pawapuro_pitcher.shootball_type_movement %> <%= 'pawa-breaking-block-nil' unless i < @player.pawapuro_pitcher.shootball_type_movement %> border-bottom-0"></div>
            <% end %>
          </div>
          <%# 第二シュート系 %>
          <div class="row">
            <% 7.times do |i| %>
              <div class="col-1 <%= 'pawa-breaking-block-second-exist' if i < @player.pawapuro_pitcher.second_shootball_type_movement %> <%= 'pawa-breaking-block-second-nil' unless i < @player.pawapuro_pitcher.second_shootball_type_movement %>"></div>
            <% end %>
          </div>
        </div>
        <%# シンカー系 %>
        <div class="pawa-breaking-font"><%= @player.pawapuro_pitcher.sinker_type_pitch %>・<%= @player.pawapuro_pitcher.second_sinker_type_pitch %></div>
        <div class="ms-3">
          <div class="row">
            <% 7.times do |i| %>
              <div class="col-1 <%= 'pawa-breaking-block-exist' if i < @player.pawapuro_pitcher.sinker_type_movement %> <%= 'pawa-breaking-block-nil' unless i < @player.pawapuro_pitcher.sinker_type_movement %> border-bottom-0"></div>
            <% end %>
          </div>
          <%# 第二シンカー系 %>
          <div class="row">
            <% 7.times do |i| %>
              <div class="col-1 <%= 'pawa-breaking-block-second-exist' if i < @player.pawapuro_pitcher.second_sinker_type_movement %> <%= 'pawa-breaking-block-second-nil' unless i < @player.pawapuro_pitcher.second_sinker_type_movement %>"></div>
            <% end %>
          </div>
        </div>
        <%# フォーク系 %>
        <div class="pawa-breaking-font"><%= @player.pawapuro_pitcher.forkball_type_pitch %>・<%= @player.pawapuro_pitcher.second_forkball_type_pitch %></div>
        <div class="ms-3">
          <div class="row">
            <% 7.times do |i| %>
              <div class="col-1 <%= 'pawa-breaking-block-exist' if i < @player.pawapuro_pitcher.forkball_type_movement %> <%= 'pawa-breaking-block-nil' unless i < @player.pawapuro_pitcher.forkball_type_movement %> border-bottom-0"></div>
            <% end %>
          </div>
          <%# 第二フォーク系 %>
          <div class="row">
            <% 7.times do |i| %>
              <div class="col-1 <%= 'pawa-breaking-block-second-exist' if i < @player.pawapuro_pitcher.second_forkball_type_movement %> <%= 'pawa-breaking-block-second-nil' unless i < @player.pawapuro_pitcher.second_forkball_type_movement %>"></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%# 特殊能力部 %>
  <div class="col-9 bg-light border border-3 border-white rounded">
    <div class="row">
      <div class="col fs-3 pawa-bg-sa-g1 rounded">
        <div class="row pt-1 pb-1 ps-1 text-center">
          <span class="col-10 pawa-bg-sa-g2 rounded px-3 pawa-text-good">対ピンチ</span>
          <span class="col-2 ps-2 text-light">B</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-b1 rounded">
        <div class="row pt-1 pb-1 ps-1 text-center">
          <span class="col-10 pawa-bg-sa-b2 rounded pawa-text-bad">対左打者</span>
          <span class="col-2 ps-2 text-light">F</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row pt-1 pb-1 ps-1 text-center">
          <span class="col-10 pawa-bg-main rounded pawa-text-neutral">打たれ強さ</span>
          <span class="col-2 ps-2 text-light">D</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row pt-1 pb-1 ps-1 text-center">
          <span class="col-10 pawa-bg-main rounded pawa-text-neutral">ケガしにくさ</span>
          <span class="col-2 ps-2 text-light">D</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row pt-1 pb-1 ps-1 text-center">
          <span class="col-10 pawa-bg-sa-n2 rounded pawa-text-neutral">ノビ</span>
          <span class="col-2 ps-2 text-light">E</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row pt-1 pb-1 ps-1 text-center">
          <span class="col-10 pawa-bg-sa-n2 rounded pawa-text-neutral">クイック</span>
          <span class="col-2 ps-2 text-light">C</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row pt-1 pb-1 ps-1 text-center">
          <span class="col-10 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
          <span class="col-2 ps-2 text-light"></span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-g1 rounded">
        <div class="row pt-1 pb-1 ps-1 text-center">
          <span class="col-10 pawa-bg-sa-g2 rounded pawa-text-good">回復</span>
          <span class="col-2 ps-2 text-light">B</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col fs-3 pawa-bg-sa-g1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-g2 rounded pawa-text-good">キレ◯</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-g1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-g2 rounded pawa-text-good">奪三振</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-g1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-g2 rounded pawa-text-good">球速安定</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-g1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-g2 rounded pawa-text-good">投打躍動</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
    </div>
  </div>
</div>
