<%# プロフィール %>
<div class="row p-2">
  <%# 基礎能力部 %>
  <%# FIXME: 部分テンプレートに切り出し %>
  <div class="col-3 pe-4 pawa-text-main">
    <div class="d-flex justify-content-start row border border-3 border-white rounded p-1 mb-1 pawa-bg-main">
      <div class="col-5 p-0">
        <div class="pawa-ability-label">弾道</div>
      </div>
      <div class="col-7 ps-3 py-2">
        <%# TODO: 値によって角度を変える %>
        <span class="pawa-text-a me-2 h5"><i class="fa fa-solid fa-arrow-right"></i></span>
        <span class="h5"><%= @player.pawapuro_fielder.trajectory %></span>
      </div>
    </div>
    <div class="d-flex justify-content-start row border border-3 border-white rounded p-1 mb-1 pawa-bg-main">
      <div class="col-5 p-0">
        <div class="pawa-ability-label">ミート</div>
      </div>
      <div class="col-7 ps-3 py-2">
        <span class="me-2 h5"><%= display_alphabet(@player.pawapuro_fielder.meat) %></span>
        <span class="h5"><%= @player.pawapuro_fielder.meat %></span>
      </div>
    </div>
    <div class="d-flex justify-content-start row border border-3 border-white rounded p-1 mb-1 pawa-bg-main">
      <div class="col-5 p-0">
        <div class="pawa-ability-label">パワー</div>
      </div>
      <div class="col-7 ps-3 py-2">
        <span class="me-2 h5"><%= display_alphabet(@player.pawapuro_fielder.power) %></span>
        <span class="h5"><%= @player.pawapuro_fielder.power %></span>
      </div>
    </div>
    <div class="d-flex justify-content-start row border border-3 border-white rounded p-1 mb-1 pawa-bg-main">
      <div class="col-5 p-0">
        <div class="pawa-ability-label">走力</div>
      </div>
      <div class="col-7 ps-3 py-2">
        <span class="me-2 h5"><%= display_alphabet(@player.pawapuro_fielder.running) %></span>
        <span class="h5"><%= @player.pawapuro_fielder.running %></span>
      </div>
    </div>
    <div class="d-flex justify-content-start row border border-3 border-white rounded p-1 mb-1 pawa-bg-main">
      <div class="col-5 p-0">
        <div class="pawa-ability-label">肩力</div>
      </div>
      <div class="col-7 ps-3 py-2">
        <span class="me-2 h5"><%= display_alphabet(@player.pawapuro_fielder.arm_strength) %></span>
        <span class="h5"><%= @player.pawapuro_fielder.arm_strength %></span>
      </div>
    </div>
    <div class="d-flex justify-content-start row border border-3 border-white rounded p-1 mb-1 pawa-bg-main">
      <div class="col-5 p-0">
        <div class="pawa-ability-label">守備力</div>
      </div>
      <div class="col-7 ps-3 py-2">
        <span class="me-2 h5"><%= display_alphabet(@player.pawapuro_fielder.defense) %></span>
        <span class="h5"><%= @player.pawapuro_fielder.defense %></span>
      </div>
    </div>
    <div class="d-flex justify-content-start row border border-3 border-white rounded p-1 pawa-bg-main">
      <div class="col-5 p-0">
        <div class="pawa-ability-label">捕球</div>
      </div>
      <div class="col-7 ps-3 py-2">
        <span class="me-2 h5"><%= display_alphabet(@player.pawapuro_fielder.catching) %></span>
        <span class="h5"><%= @player.pawapuro_fielder.catching %></span>
      </div>
    </div>
  </div>
  <%# プロフィール部 %>
  <div class="col-9 pawa-text-main">
    <div class="row">
      <div class="col-7 d-flex justify-content-start border border-3 border-white rounded p-1 mb-1 pawa-bg-main">
        <div class="p-0">
          <div class="pawa-ability-label">氏名</div>
        </div>
        <div class="ps-3 py-2">
          <span class="h5"><%= "#{@player.last_name}　#{@player.first_name}" %></span>
        </div>
      </div>
      <div class="col-5 d-flex justify-content-start border border-3 border-white rounded p-1 mb-1 pawa-bg-main">
        <div class="p-0">
          <div class="pawa-ability-label">背ネーム</div>
        </div>
        <div class="ps-3 py-2">
          <span class="h5"><%= @player.back_name %></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-7 d-flex justify-content-start border border-3 border-white rounded p-1 mb-1 pawa-bg-main">
        <div class="p-0">
          <div class="pawa-ability-label">誕生日</div>
        </div>
        <div class="ps-3 py-2">
          <span class="h5"><%= @player.birthday.strftime('%Y年 %-m月%d日') %></span>
        </div>
      </div>
      <div class="col-5 d-flex justify-content-start border border-3 border-white rounded p-1 mb-1 pawa-bg-main">
        <div class="p-0">
          <div class="pawa-ability-label">年齢</div>
        </div>
        <div class="ps-3 py-2">
          <span class="h5"><%= calculate_age(@player.birthday) %>歳</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-start border border-3 border-white rounded p-1 mb-1 pawa-bg-main">
        <div class="p-0">
          <div class="pawa-ability-label">備考</div>
        </div>
        <div class="ps-3 py-2">
          <span class="h5"><%= @player.note %></span>
        </div>
      </div>
    </div>
  </div>
</div>
